// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #fb9618;

// ----------------------------------------------------------------------------
// Widget-GoogleGauge styles
// ----------------------------------------------------------------------------
.widget-google-column {

  background-color: $background-color;
  position: relative;

  .title-wrapper {
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
  }

  .title,
  .sub-title {
    display: inline-block;
  }

  .sub-title {
    &::before { content: '('; }
    &::after { content: ')'; }
    font-size: 15px;
  }

  .chart {
    position: absolute;
    left: 0px;
    top: 0px;
  }

}
