<% content_for :title do %>Calculator Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Account"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-view="Image" data-image="/speed-map.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Iframe" data-url="https://www.youtube.com/embed/SftPJmYrjhY"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="jackpotchart" data-view="GoogleColumn"  data-title="Pool Sizes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="runnerWatcherChart" data-view="GoogleLine"  data-title="Runner Watcher"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="feed"
        data-view="List"
        data-unordered="true"
        data-unlabelled="true"
        data-title="Info Feed"
        data-moreinfo="Only show the latest 5 messages"></div>
        <i class="icon-info-sign icon-background"></i>
    </li>
  </ul>
</div>

